<h1>フォローしている人一覧</h1>
<% if @users.exists? %>
  <% @users.each do |user| %>
  <div class="follow">
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :image, :fill, 80, 80, fallback: "/assets/noimage.png", size:'80x80' %>
      <%= user.name %>
    <% end %>
      <!--follow：<%#= user.followings.count %>
      follower：<%#= user.followers.count %> -->
      <%#= link_to "Show", user_path(user.id) %>
  </div>
    <% end %>
<% else %>
  <p>ユーザーはいません</p>

<% end %>