<%= month_calendar(attribute: :date, end_attribute: :date, events: hosts) do |date, hosts| %>
  <%= date.strftime('%d') %>
    <% hosts.each do |event| %>
      <div>
        <%= event.name %>
      </div>
    <% end %>

<% end %>