<%= month_calendar(attribute: :date, end_attribute: :date, events: hosts) do |date, hosts| %>
  <%= date.strftime('%d') %>
    <% hosts.each do |event| %>
      <div>
        <%= link_to event_path(event) do %>
          <%= event.name %>
        <% end %>
      </div>
    <% end %>

<% end %>