<%= render "events/search", keyword: @keyword, genres: @genres %>

<h1>投稿されたイベント</h1>
  <%= render "events/index", events: @events, allevents: @allevents %>
<% if @method == "before" %>
  <%= render "events/index", events: @records, allevents: @not_end_event %>
<% end %>