<%= month_calendar(attribute: :date, end_attribute: :date, events: attends) do |date, attends| %>
  <%= date.strftime('%d') %>

    <% attends.each do |event| %>
      <div>
        <%= link_to event_path(event) do %>
          <%= event.event.name %>
        <% end %>
      </div>
    <% end %>

<% end %>