<h1>Reservations仮予約一覧ページ</h1>
  <table>
    <tr>
      <th>イベント名</th>
      <th>コメント</th>
    </tr>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.event.name %></td>
        <td><%= reservation.comment %></td>
      </tr>
    <% end %>
  </table>