  <h1>仮予約完了</h1>
    <div class="text">
      <p>仮予約完了しました！</p>

      <h3>注意</h3><br>
        <p>主催者からの承認を持って本予約完了となります。<br>
        承認された場合、通知がきます。<br>
        イベント詳細ページを再度確認し、持ち物や集合場所を確認してください。<br><br>
        メールで「承認通知」を受け取りたい場合はこちらをクリックしてください。</p>
        <p>予約の取り消しはできません。DMまたはイベント詳細ページのコメントフォームから主催者に連絡し、否認の依頼をしてください。</p>

      <h5>主催者のユーザーページを見る ぜひフォローしてください！</h5>
        <%= link_to "こちら", user_path(@event.user) %>
    </div>