<h1>申し込み完了</h1>
  <div class="text">
    <p>申し込みが完了しました！</p>

    <h3>注意</h3><br>
      <p>主催者からの承認を持って参加確定となります。<br>
      承認された場合、通知がきます。<br>
      イベント詳細ページを再度確認し、持ち物や集合場所を確認してください。<br><br>
      メールで「承認通知」を受け取りたい場合はこちらをクリックしてください。</p>
      <p>申し込みの取り消しはできません。DMまたはイベント詳細ページのコメントフォームから主催者に連絡し、否認の依頼をしてください。</p>

    <h4>主催者のユーザーページを見る ぜひフォローしてください！</h4><br>
      <%= link_to "こちら", user_path(@event.user) %>
  </div>