<h1>使い方</h1>

  <div class="text">
    <div>楽しくイベントに参加・主催するために以下の手順を必ずお読みください</div>
    <h3>イベントを主催する</h3><br>
      ①イベント投稿ページから、主催イベントを投稿します。<br>
      開催場所・開催日・開始時刻・終了時刻・募集人数などの項目を設定します。<br>
      イベントタイトルはわかりやすく、簡潔に！<br>
      投稿されたら、参加申し込みを待ちます。<br>
      ※イベントは一度投稿したら削除できません。<br><br>

      ②参加申し込み（予約）がきたら<br>
      参加申し込みがきたら、通知がきます。<br>
      <b>参加者の承認作業が必要です。</b><br>
      投稿したイベントページ下部に「参加承認」欄がありますので、募集締切日までに必ず参加承認を行ってください。<br>
      「承認済」「未承認」「棄却」がありますので、必要に応じて選択してください。<br>
      ※参加承認後は、変更できません。<br><br>

      ③主催日まで<br>
      責任を持って参加者の管理・会場の確保などを行ってください。<br>
      変更点があれば必ず参加者にDMで連絡してください。<br><br>

    <h3>イベントに参加する</h3><br>
      ①イベントを探す<br>
      イベント検索ページやタイムラインから、参加したいイベントを探します。<br>
      イベント検索・・・「開催地」と「イベント名」から検索できます。<br>
      タイムライン・・・フォローしたユーザーの投稿イベントを新着順に確認できます。<br><br>
      ②イベントへの参加を申し込む<br>
      参加したいイベントが見つかったら、申し込みできます。参加条件を満たしているか確認し、申し込みしてください。<br>
      申し込みは「仮予約」ですので、主催者が参加承認してから、参加確定となります。<br>
      参加承認が却下される場合もあるので、ご了承ください。<br><br>
      ③申し込みが承認されたら<br>
      申し込みが承認されたら、通知がきます。<br>
      イベント詳細ページ下部に、「持ち物」「集合場所」が公開されますので、確認してください。<br><br>
      ③イベント参加日まで<br>
      不明点があれば主催者に連絡してください。<br>
      イベント投稿ページのコメント欄または、DMで連絡をとってください。<br>
  </div>