<h1>odorootsとは</h1>
  <div class="text">
    odorootsとは、ダンサーが気軽に集まれるコミュニティサイトです。<br>
    イベントを主催したり、参加したりして、みんなでたくさん踊りましょう！<br>
    イベントへの参加予約・主催には会員登録が必要です。
    <br>
    詳しい使い方はこちら
  </div>

<%= render "events/search", keyword: @keyword, genres: @genres %>

