<main>
  <h1>odorootsとは</h1>
   <p>odorootsとは、ダンサーが気軽に集まれるコミュニティサイトです。<br>
   イベントを主催したり、参加したりして、みんなでたくさん踊りましょう！<br>
   イベントの予約・主催には会員登録が必要です。</p>
  <h1>イベント検索</h1>
    <p><h3>フリーワードで検索</h3></p>
    <%= render "events/search", keyword: @keyword %>
</main>
