/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Zen+Maru+Gothic:wght@300;400&display=swap');
  @import "simple_calendar";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/* webフォント適用 */
body, button, input, select, textarea{
  font-family: 'Montserrat', 'Zen Maru Gothic', sans-serif;
  color:black;
}

/*****/

/* ヘッダー */
header {
  height: 60px;
  width: 100%;
  background-color: #b0c4de;
  position: fixed;
  justify-content: space-between;
  display: flex;
  z-index: 3;
  opacity: 0.8;
}

header a {
  color: #000;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

/* ヘッダーロゴ */
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  display: flex;
  margin-left: 10px;
  width: 200px;
  height: 60px;
}

.logo a {
  color: #191970;
  text-decoration: none;
}

/*****/

/* 見出し関連 */
h1 {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0px 10px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-weight: normal;
  font-size: 22px;
}

h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f591";
  font-weight: bold;
  padding-right: 5px;
  color: #708090;
}

h2 {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:#d7e0ea;
  font-size: 20px;
  margin: 5px 5px 5px 8px;
  font-weight: normal;
}

h3 {
  display: inline;
  background-image: linear-gradient(#eee 70%, #4682b4 70%);
  margin-left: -10px;
  font-weight: normal;
}

h4 {
  border: 1px solid;
  font-size: 20px;
  border-radius: 4px;
  background-color: #4682b4;
  padding: 8px;
  display: inline-block;
}

/*****/

/* imgレスポンシブ */
.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


/* 小文字 */
.small {
  display: none;
}



/*****/

/*　メイン */
main {
  padding: 60px 0px 30px 10px;
  background-color: #eee;
  line-height: 25pt;
  min-height: 100vh;
}

/*****/

/* テーブル設定 */
table {
  border-collapse: collapse;
  width: 90%;
  text-align: left;
}

th,td {
  padding: 10px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}
th {
  background: #b0c4de;
  color: #fff;
}

/*****/

/* フォーム指定 */

// .search_form{
//   width: 300px;
//   height: 25px;
//   border:none;
//   padding:10px;
// }

.form {
  width: 300px;
  height: 25px;
  border: none;
  padding: 10px;
}

.select{
  padding:5px;
  border: 0;
}

.send {
  display:inline-block;
  border-radius:5px;
  text-align:center;
  padding:8px;
  background:#000000;
  color:#ffffff;
  line-height:10px;
  transition: .3s;
  border: 2px solid #000000;
  cursor: pointer;
}

/*****/

/*リンク*/
main a {
  text-decoration: none;
  color: #4682b4;
}

main a:hover {
  text-decoration: none;
  color: #fff;
}

/*****/

/* 横並び2カラム記事 */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .container{
    justify-content:left;
    display: block;
    width:100%;
  }
}

/*****/

/* ユーザーページ */

/* プロフ部分*/
.info {
  width: 350px;
  background-color: #b0c4de;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .info {
    width: 100%;
    background-color: #b0c4de;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .info {
    width: 100%;
    background-color: #b0c4de;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
  }
}

.profile_image {
  padding: 20px;
  margin: auto;
  width: 90%;
  height: auto;
  background-color: #fff;
  text-align: center;
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .profile_image {
    padding: 5px;
    margin: auto;
    width: 90%;
    height: auto;
    background-color: #fff;
    text-align: center;
  }
}

.profile_text {
  padding: 20px;
  margin: auto;
  width: 90%;
}

/* SNSアイコンの色変更 */
.fa-twitter{
  color:#1da1f2;
}

.fa-facebook-square{
  color:#3b5998;
}

.fa-instagram{
  color:#e1306c;
}

.fa-youtube{
  color:#ff0000;
}

/*****/

/* イベント関連 */
.event_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event_index {
  width: 30%;
  border: 1px solid #d3cfd9;
  text-align: center;
  margin: 1%;
  background-color: #fff;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .event_index {
    width: 48%;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  .event_index {
    width: 48%;
  }
}
/* 530px以下の際に適用される設定 */
@media screen and (max-width: 530px) {
  .event_index {
    width: 93%;
  }
}

.event_index_text {
  width: 95%;
  margin: auto;
  text-align: left;
  background-color: #eee;
  height: 170px;
  padding: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1030px) {
  .event_index_text {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .event_index_text {
    height: 200px;
  }
}

.event_title {
  font-size: 25px;
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  .event_title {
    font-size: 20px;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .event_title {
    font-size: 25px;
  }
}

.content {
  width: calc(100% - 350px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: #eee;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.event_image{
  width: 650px;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .event_image {
    width: 65%;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  .event_image {
    width: 65%;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .event_image {
    width: 100%;
  }
}

.event_main {
  width: calc(100% - 650px);
  padding-left: 30px;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
  .event_main {
    width: 100%;
    padding: 0;
  }
}

.host_image {
  display: inline-block;
  width: 200px;
  height: 250px;
  text-align: center;
  vertical-align:  middle;
}

.event_detail {
  margin-left: 20px;
}

.comment, .dm {
  width: 100%;
  display: flex;
  padding: 10px;
}

.comment_image{
  background-color: #fff;
  width: 60px;
  padding: 10px;
}

.comment_text{
  background-color: #fff;
  width: calc(90% - 60px);
  padding:10px;
}

#map{
  height: 300px;
  width:500px;
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  #map{
    height: 300px;
    width:85%;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  #map{
    height: 300px;
    width:85%;

  }
}

/* イベント主催者コメント */
.bl-left {
  position: relative;
  display: inline-block;
  margin: 10px 10px 60px 30px;
  padding: 10px 15px;
  width: 55%;
  font-size: 16px;
  background: #FFF;
  /*border: solid 3px #555;*/
  box-sizing: border-box;
  border-radius: 15px;
  height:auto;
  vertical-align:  middle;
}

@media screen and (min-width: 426px) {
  .bl-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
  }
  .bl-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    /*border-right: 14px solid #555;*/
    z-index: 1;
  }
}
@media screen and (max-width: 1024px) {
  .bl-left {
    position: relative;
    display: inline-block;
    margin: 10px 10px 60px 30px;
    padding: 10px 15px;
    width: 40%;
    font-size: 16px;
    background: #FFF;
    /*border: solid 3px #555;*/
    box-sizing: border-box;
    border-radius: 15px;
    height:auto;
      vertical-align:  middle;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
.bl-left {
    position: relative;
    display: inline-block;
    margin: 10px 10px 60px 30px;
    padding: 10px 15px;
    width: 30%;
    font-size: 16px;
    background: #FFF;
    /*border: solid 3px #555;*/
    box-sizing: border-box;
    border-radius: 15px;
    height:auto;
    vertical-align:  middle;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
.bl-left {
    position: relative;
    display: inline-block;
    margin: 10px 10px 50px 10px;
    padding: 10px 15px;
    width: 200px;
    font-size: 16px;
    background: #FFF;
    /*border: solid 3px #555;*/
    box-sizing: border-box;
    border-radius: 15px;
    height:auto;
    vertical-align:  middle;
  }
}

/*****/

/*ボタン*/
.btn01 {
  border: 1px dotted #eee;
  background-color:#808080;
  font-size: 15px;
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn02 {
  border: 1px solid #eee;
  background-color:#d4c9de;
  font-size: 15px;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  border-radius: 50%;
}

a.btn03, .btn03 {
  border: 1px dashed #000;
  background-color: #fff;
  padding: 10px;
  font-size: 18px;
  color: #4682b4;
}

a.btn03:hover, .btn03:hover {
  border: 1px dashed #000;
  background-color: #b0c4de;
  padding: 10px;
  cursor: pointer;
  color:#eee;
}

.btn_04{
  border: none;
  font-size: 20px;
  background-color:#fff;
}

/* フォロー関連 */
.follow{
  width: 200px;
  height: 100px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}

/* ダンスジャンル */
.btn_tag {
  border: 1px solid;
  font-size: 13px;
  padding: 8px;
  margin: 10px;
}

/*****/

/* ページネーション */
.pagination {
  background-color:#fff;
  text-align: center;
}

.pagination a {
  color: #000;
}
.pagination a:hover {
  color: #b0c4de;
}

/*****/

/* DM関連 */
.dm_form {
  width: 500px;
  height: 30px;
  border: none;
  padding: 10px;
}

.dm{
  justify-content: center;
}

.dm_index{
  background-color:#fff;
  width: calc(45% - 70px);
  height:auto;
  padding:5px;
  border: 1px solid #ccc;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .dm_index {
    width: calc(60% - 70px);
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .dm_index {
    width: calc(70% - 70px);
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .dm_index {
    width: calc(95% - 70px);
  }
}

.dm_image {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.message {
  padding: 15px;
  margin-left: -20px;
  text-align: center;
  background-color: #808080;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  opacity: 0.5;
}

/* 自分の吹き出し */
.current_user {
  color: black;
  text-align: right;
  background-color: #fff;
  width: fit-content;
  margin: 10px 0 0 auto;
  border-radius: 20px;
  /* Google Chrome、Safari*/
  -webkit-border-radius: 20px;
  /* Firefox */
  -moz-border-radius: 30px;
  /* IE */
  -ms-border-radius: 30px;
  box-sizing: border-box;
  padding: 8px;
}

/* 相手の吹き出し */
.visited_user {
  color: #fff;
  margin: 10px;
  background-color: #4682b4;
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  border-radius: 20px;
  /* Google Chrome、Safari*/
  -webkit-border-radius: 20px;
  /* Firefox */
  -moz-border-radius: 30px;
  /* IE */
  -ms-border-radius: 30px;
  box-sizing: border-box;
  padding: 8px;
}

/* コメント */
.comment_form {
  width: 300px;
  height: 100px;
  border: none;
  padding: 10px;
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .comment_form {
    width: 70%;
  }
}

.comment_send:hover {
  color: #a9a9a9;
  background-color: #eee;
}

/*****/


/* カレンダー */
.tab_container {
  margin: 10px;
  border: 1px solid #ccc;
}

.tab_container ul{
  list-style: none;
  padding-left: 0;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #fff;
  background: #a9a9a9;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.text{
  margin-left: 20px;
  margin-right: 20px;
}

.user-view{
  background-color: #fff;
  margin: 20px;
  border: 1px solid #d3cfd9;
  padding: 10px;
}

/*****/

/*ハンバーガーメニュー（レスポンシブ980px~）*/
@media (max-width: 980px) {
  .pc {
    display: none;
  }
  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }
  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: #191970;
    border-radius: 15px;
    transition: ease 0.75s;
  }
  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }
  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }
  .close span:nth-of-type(2) {
    opacity: 0;
  }
  .close span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
  }
  .small {
    top: 60px;
    left: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #778899;
  }
  ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .scroll {
    overflow-x: auto;
  }
  .tbl {
    min-width: 640px;
    margin: 0 10px 50px;
  }
  .tbl td {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
  }
}

/*****/